<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
<link rel=stylesheet type="text/css" href= "{{ url_for('static', filename = 'css/index.css') }}">
<title>台北一日遊 - 首頁</title>

</style>

<script>
    

    // 相關監測的變數 皆設定為全域變數
    page = 0;
    ing = false; // 監測 fetch
    searching = false; // 監測 search

    function search(){
            page = 0;
            searching = true;
            document.getElementById('content').innerHTML = '';
            addElement();
            return false;
            
    }

    // button type 是 submit 時用的方式
    // function search(){
    //     document.getElementById('search').onsubmit = function() {
    //         page = 0;
    //         document.getElementById('content').innerHTML = '';
    //         addElement();
    //         event.preventDefault();
    //         }
    // }

    // 創建元素
    function addElement(){
        //如果是真，運作中，直接跳出函式，不進行 fetch 動作
        if (ing){
            return;
        }

        ing = true;

        let content = document.querySelector("#content"); 
        let keyword = document.getElementById("keyword").value;
        let src = ""
        if (keyword == "") {
            src = "api/attractions?page="+String(page);
        }
        else {
            src = "api/attractions?page="+String(page)+"&keyword="+String(keyword);
        }
        console.log(keyword, src);
        fetch(src) 
            .then(function(resp) {
                //console.log(resp);
                    resp.json().then(function(json) {
                    // console.log(json);
                        //注意這個關鍵變數 page，吃的是 json 內的下一頁，只會有頁數或者 null，null 代表沒有下一頁
                        page = json.nextPage;
                        let err = json.error;
                        let message = json.message;
                        ing = false;
                        searching = false;
                        
                        if (err) {
                            let newDIV = document.createElement("div");
                            newDIV.setAttribute("class","error"); 
                            let title = document.createTextNode(message);
                            content.appendChild(newDIV); 
                            newDIV.appendChild(title); 
                            return;
                        }


                        let data = json.data; 
                        // console.log(data[0]["images"][0]);
                        data.forEach(function(item) {
                            
                            // 來看資料是否都有出來
                            // console.log(item.images[0], item.name, item.mrt, item.category);

                            let newDIV = document.createElement("div");
                            newDIV.setAttribute("class","box"); 
                            content.appendChild(newDIV); 

                            let Atag = document.createElement("a"); 
                            Atag.setAttribute("href", "attraction/"+item.id); 
                            let img = document.createElement("img"); 
                            img.setAttribute("src", item.images[0]); 
                            Atag.appendChild(img); 
                            newDIV.appendChild(Atag);


                            let DIVtitle = document.createElement("div"); 
                            DIVtitle.setAttribute("class","title"); 
                            let title = document.createTextNode(item.name);
                            let Atag2 = document.createElement("a"); 
                            Atag2.setAttribute("href", "attraction/"+item.id); 
                            Atag2.appendChild(title); 
                            newDIV.appendChild(DIVtitle); 
                            DIVtitle.appendChild(Atag2);


                            let DIVtitle2 = document.createElement("div"); 
                            DIVtitle2.setAttribute("class","title2"); 
                            let title2 = document.createTextNode(item.mrt);
                            let title3 = document.createTextNode(item.category);
                            newDIV.appendChild(DIVtitle2); 

                            let span = document.createElement("span"); 
                            DIVtitle2.appendChild(span); 
                            span.appendChild(title2); 

                            let span2 = document.createElement("span"); 
                            DIVtitle2.appendChild(span2); 
                            span2.appendChild(title3); 

                        });
                    });
            }).catch(err => {
                console.log(err);

            });
    }
    

</script>

</head>

<body onload="addElement()">

<div class="top">
    <div class="nav">
        <div class="left-nav"><a href="/">台北一日遊</a></div>

        <div class="right-nav">
        <a href="#">預定行程</a><span>　</span>
        <a href="#">登入 / 註冊</a>
        </div>
    </div>
</div>



<div class="top_area">
    <div class="top_info">
        <h1>輕鬆享受台北一日悠閒</h1>
        <p class="slogan">探索每個角落，體驗城市的深度旅遊行程</p>
        <form id="search" onsubmit="return search()">
            <input class="input_search" type="text" placeholder="輸入景點名稱查詢" id="keyword">
            <button class="btn_search" type="button" id="btn" onclick="search()"></button>
        </form>
    </div>
</div>


<div class="content" id="content">

</div>

<div class="footer"><p>COPYRIGHT © 2021 台北一日遊</p></div>

</body>


<script>

// 監測卷軸事件
window.addEventListener("scroll",()=>{

    // document.documentElement.scrollHeight 整個網頁內容的長度
    // window.innerHeight 可視範圍
    const scrollable = document.documentElement.scrollHeight - window.innerHeight;

    // 卷軸捲動時，window.scrollY 會一直變化，到網頁底部的時候會是一個固定的數字，越往下拉越大
    const scrolled = window.scrollY;

    console.log(scrolled, scrollable, document.documentElement.scrollHeight, window.innerHeight);

    // Math.floor() 捨棄小數
    if (Math.ceil(scrolled) >= (scrollable-1)){
        console.log(Number.isFinite(page))
        if (Number.isFinite(page) && !searching){
            // 加入一點延遲
            window.setTimeout(function(){
                addElement();
            }, 200);
            
        }
       
    }

});

</script>




</html>